[submodule "jvm-toxcore-api"]
	path = jvm-toxcore-api
	url = https://github.com/fredboy/jvm-toxcore-api.git
[submodule "jvm-toxcore-c"]
	path = jvm-toxcore-c
	url = https://github.com/fredboy/jvm-toxcore-c.git
